/////////////////////////////////////////
///             LAYOUT
/////////////////////////////////////////

// breakpoints
$modern-mobile: 375px;
$grid-liquid: 34em;
$grid-elastic: 38em;

// singularity.gs layout
@include add-grid(4);
@include add-gutter(1/10);

/////////////////////////////////////////
///            COLOURS
/////////////////////////////////////////

// Primary UCLA Colours

$ucla-blue: #3399cc;
$ucla-blue-safe: #347bad;
$ucla-gold: #ffe800;

// Secondary UCLA Colours

$ucla-blue-dark: #0055a6;
$ucla-blue-light: #00a5e5;

// Tertiary UCLA Colours

$ucla-yellow: #ffff00;
$ucla-green: #00ff87;
$ucla-pink: #ff00a5;
$ucla-cyan: #00ffff;
$ucla-purple: #8237ff;
$ucla-grey: #666;
$ucla-orange: #ffb300;

// Semantic Colours

$neutral: #ccc;
$white: #fff;
$black: #000;

$primary-color: $black;
$primary-color-alternate-state: $black;
$secondary-color: $ucla-gold;

$success-color: $ucla-green;
$error-color: $ucla-pink;
$error-color-dark: darken($ucla-pink, 42%);
$error-color-dark-alt: darken($ucla-pink, 46%);

$anchor-color: $ucla-purple;
$anchor-color-hover: #1e4b87;
$bullet-color: $ucla-green;

$footer-link-color: $white;
$footer-link-color-hover: $ucla-yellow;

$form-valid-color: $success-color;
$form-invalid-color: $ucla-pink;
$input-background-color: lighten($neutral, 19%);
$input-background-color-focus: $white;

$background-light-grey: lighten($neutral, 12%);
$alternate-light-grey: lighten($neutral, 15%);

// SSO Specific

$secondary-login-option-color: #526991;
$sp-support-bg: rgba($neutral, .85);
$sp-support-bg-fallback: #e4eef4;

/////////////////////////////////////////
///       TYPOGRAPHY / RHYTHM
/////////////////////////////////////////

$html-background: $neutral url('../images/app.png');
$html-background-size: auto;

$body-text-color: #444;
$body-background-color: $white;

$font-stack: 'Proxima Nova', Verdana, sans-serif;
$font-stack-alt: 'Proxima Nova', Verdana, sans-serif;
$font-stack-monospace: Inconsolata, Consolas, Menlo, monospace;
$global-letter-spacing: 0.5px;

// prepare for media queries to shift base font and have that inherited down em chain
body {
	font-size: 100%;
}

$h1-font-size: 2em; 
$h2-font-size: 1.75em;
$h3-font-size: 1.25em;
$h4-font-size: 1.125em;

$p-font-size: 1em;
$meta-font-size: .8em;

$base-line-height: 1.375em;

$default-spacing: 1em;
$half-spacing: $default-spacing / 2;
$double-spacing: $default-spacing * 2;
$triple-spacing: $default-spacing * 3;
$quad-spacing: $default-spacing * 4;

$global-border-radius: 3px;

/////////////////////////////////////////
///           FONT FACE
/////////////////////////////////////////

@font-face {
	font-family: 'Proxima Nova';src: url('../fonts/ProximaNova-Regular.eot');src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-Regular.woff') format('woff'),url('../fonts/ProximaNova-Reg.otf') format('truetype');
	font-weight: 400;
	font-style: normal;
}