/////////////////////////////////////////
///             LAYOUT
/////////////////////////////////////////

// breakpoints
$modern-mobile: 375px;
$grid-liquid: 34em;
$grid-elastic: 38em;

// singularity.gs layout
@include add-grid(4);
@include add-gutter(1/10);

/////////////////////////////////////////
///            COLOURS
/////////////////////////////////////////

// Primary UCLA Colours

$ucla-blue: #3399cc;
$ucla-blue-safe: #347bad;
$ucla-gold: #ffe800;

// Secondary UCLA Colours

$ucla-blue-dark: #0055a6;
$ucla-blue-light: #00a5e5;

// Tertiary UCLA Colours

$ucla-yellow: #ffff00;
$ucla-green: #00ff87;
$ucla-pink: #ff00a5;
$ucla-cyan: #00ffff;
$ucla-purple: #8237ff;
$ucla-grey: #666;
$ucla-orange: #ffb300;

// NOTE: darken w/ shade($foo, 20%), lighten w/ tint($foo, 70%)

// Primary Health Colour

$ucla-blue-old: #526991;
$ucla-blue-old-dark: #40537B;

// Secondary Health Colours

$gold: #ffb300;
$orange: #d95e00;
$purple: #55517b;
$lavendar: #8683a4;
$tan: #aea444;
$blue: #21578a;
$rose: #bd3632;
$maroon: #5e172d;
$darkblue: #002857;
$brown: #65551c;
$sand: #d3cd8b;
$aqua: #007a87;

// Neutral Health Colours

$warmgrey3: #d1c6c0;
$warmgrey7: #9e9689;
$coolgrey3: #c9cac8;
$coolgrey8: #8b8d8e;

// Semantic Colours

$neutral: $coolgrey3;
$white: #fff;
$black: #000;

$primary-color: $ucla-blue-old;
$primary-color-alternate-state: $ucla-blue-old-dark;
$secondary-color: $gold;

$success-color: $ucla-green;
$error-color: $rose;
$error-color-dark: tint($rose, 92.5%);
$error-color-dark-alt: tint($rose, 94%);

$anchor-color: #0081dc; // taken from identity.uclahealth.org
$anchor-color-hover: #0081dc;
$bullet-color: #444;

$footer-link-color: $white;
$footer-link-color-hover: $gold;

$form-valid-color: $blue;
$form-invalid-color: $rose;
$input-background-color: lighten($neutral, 19.1%);
$input-background-color-focus: $white;

$background-light-grey: lighten($neutral, 12%);
$alternate-light-grey: lighten($neutral, 15%);

// SSO Specific

$secondary-login-option-color: #526991;
$sp-support-bg: rgba($white, .55);

/////////////////////////////////////////
///       TYPOGRAPHY / RHYTHM
/////////////////////////////////////////

$html-background: $ucla-blue-old;
$html-background-size: auto;

$body-text-color: #444;
$body-background-color: $white;

$font-stack: "Adobe Univers", Futura, "Trade Gothic", Univers;
$font-stack-alt: "Adobe Minion Regular", MinionPro, Bodoni, "Adobe Caslon", Century, Palatino;
$font-stack-monospace: Inconsolata, Consolas, Menlo, monospace;
$global-letter-spacing: 0.5px;

// prepare for media queries to shift base font and have that inherited down em chain
body {
	font-size: 100%;
}

$h1-font-size: 2em; 
$h2-font-size: 1.75em;
$h3-font-size: 1.25em;
$h4-font-size: 1.125em;

$p-font-size: 1em;
$meta-font-size: .75em;

$base-line-height: 1.375em;

$default-spacing: 1em;
$half-spacing: $default-spacing / 2;
$double-spacing: $default-spacing * 2;
$triple-spacing: $default-spacing * 3;
$quad-spacing: $default-spacing * 4;

$global-border-radius: 3px;


// http://identity.uclahealth.org/body.cfm?id=76
// http://identity.uclahealth.org/body.cfm?id=75
// http://identity.uclahealth.org/body.cfm?id=113