html {
	background: $html-background;
  background-size: cover;
	box-sizing: border-box;
	position: relative; 
	min-height: 100%;
	width: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: $body-text-color;
	font-family: $font-stack;
	letter-spacing: $global-letter-spacing;
}

h1, h2, h3, h4 {
	font-weight: normal;
	color: $primary-color;
	font-family: $font-stack-alt;
}

h1 {
	font-size: $h2-font-size;
	@include breakpoint($grid-liquid) {
		font-size: $h1-font-size;
	}
	line-height: $base-line-height * .9;
	margin: $half-spacing 0;
}

h2 {
	font-size: $h3-font-size;
	@include breakpoint($grid-liquid) {
		font-size: $h2-font-size;
	}
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

p {
	line-height: $base-line-height;
}

a {
	color: $anchor-color;
	text-decoration: underline;
	@include transition-property(color);
	@include transition-duration(.15s);
	&:visited { 
		color: $anchor-color;
	}
	&:hover, &:focus {
		text-decoration: underline;
		color: $anchor-color-hover;
		outline: 0;
	} 
	&:focus {
		outline: thin dotted;
	}
	&:active {
		outline: 0;
	}
}

section[role="main"] ul {
	list-style: none;
	padding-left: .25em;
	margin-bottom: 0;
	li:before {
		color: $bullet-color;
		content: "•";
		position: relative;
		font-size: 1.5em;
		left: -.25em;
	}
}