.logo {
	display: block;
	margin: 0 auto;
	width: 80%;
	@include breakpoint($grid-liquid) {
		width: 70%;
	}
}

.login-form {
	padding-bottom: 0;
}

#sso {
	background: $body-background-color;
	box-shadow: 0 1px 1px #347bad;
	overflow: hidden;
	border-radius: $global-border-radius;
	padding: 0 7.5% 2.5%;
	@include breakpoint($grid-elastic) {
		padding: 0 4em 1.5em;
	}
	label {
		display: none;
	}
	fieldset {
		border: none;
	}
}

#sso .error-box {
	width: 100%;
	@include breakpoint($grid-liquid) {
		width: 26em;
	}
	h2 {
		font-size: $h3-font-size;
	}
	margin-bottom: $default-spacing;
}

.sso-submit {
	width: 100%;
	@include breakpoint($grid-liquid) {
		@include grid-span(1, 1);
	}
	padding-top: 0;
}

.sso-links {
	width: 100%;
	margin-bottom: $default-spacing;
	@include breakpoint($grid-liquid) {
		@include grid-span(3, 2);
		margin: 0;
	}
	font-size: $meta-font-size;
}

.primary-button {
	background-color: $primary-color;
	color: #fff;
	font-size: $h4-font-size;
	&:hover {
		background-color: $secondary-color;
		color: $primary-color-alternate-state;
	}
}

// -------- or --------

.line-thru {
  @include clearfix;
  display: block;
  padding: 1em 0;
  margin-bottom: -1em;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
  &:before {
    width: 40px;
    height: 10px;
    background-color: #fff;
    content: '';
    margin: -5px 0 0 -20px;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: -1;
  }
  &:after {
    border-bottom: 1px solid $neutral;
    content: '';
    display: block;
    position: absolute;
    top: 49%;
    width: 100%;
    z-index: -2;
  }
}

.secondary-button {
	background-color: $secondary-login-option-color;
	color: $white;
	display: block;
	font-size: $meta-font-size;
	padding: $default-spacing;
	width: 100%;
	@include breakpoint($grid-liquid) {
		width: 22em;
		margin: 0 auto;
		padding: $half-spacing;
	}
	&:hover {
		background-color: darken($secondary-login-option-color, 10%);
		color: $white;
	}
}