<form id="report" role="form">
	
	<fieldset class="report-submission">
		<legend>Report</legend>
		
		<label class="for-checkbox">Include Environmental Information</label>
		<dl>
		  <dt>IP Address</dt>
		  <dd>foo</dd>
		  <dt>OS</dt>
		  <dd>foo</dd>
		  <dt>Browser</dt>
		  <dd>foo</dd>
		</dl>

		<label for="email">UCLA Email Address</label>
		<input id="email" name="email" type="email" placeholder="joe.bruin@ucla.edu">

	</fieldset>

	<fieldset class="report-submit">
		<button class="primary-button" type="submit" name="report">Send Report</button>
	</fieldset>
	
</form>