<form id="report" role="form">
	
	<fieldset class="report-submission">
		<legend>Report</legend>
		<ol>
			<li>
				<label for="email">UCLA Email Address</label>
				<input id="email" name="email" type="email" placeholder="joe.bruin@ucla.edu">
			</li>
			<li>
				<label for="contact">Error Number (we got this)</label>
				<input id="contact" name="contact" type="text" value="oij2305u0392iroe" aria-required="true" disabled required>
			</li>
			<li>
				<label for="desc">Anything else you want to share?</label>
				<textarea id="desc" name="desc" rows="5" cols="65" placeholder="I was using Firefox 35 on OS X 10.10 and trying to log in to..."></textarea>
			</li>
		</ol>
	</fieldset>

	<fieldset class="report-submit">
		<button class="primary" type="submit" name="report">Send Report</button>
	</fieldset>
	
</form>