<form id="sso" role="form" action="/" method="post" data-abide novalidate>
	
	<legend>Sign In with your UCLA Logon ID</legend>
		
	<div class="error-box-lite login-fail">
		<h3>Your ID and/or password were incorrect.</h3>
				
		<p>Try again below, <a href="https://logon.ucla.edu/userlookup.php" title="Lookup your UCLA Logon ID">lookup your UCLA Logon ID</a>, or <a href="https://logon.ucla.edu/passreset.php" title="Reset your password">reset your password</a>.</p>
	</div>
		
  <fieldset>
		<label for="logon"><span hidden>Your UCLA Logon ID</span>
  		<input id="logon" name="logon" type="text" placeholder="Your UCLA Logon ID" aria-required="true" pattern="[a-z0-9]{3,15}" title="Logon IDs are 3 to 15 characters long." tabindex="1" autocorrect="off" autocapitalize="none" required autofocus>
  		<span class="form-error">Logon IDs are 3 to 15 characters long.</span>
		</label>

		<label for="pass"><span hidden>Your UCLA Logon Password</span>
		  <input id="pass" name="pass" type="password" placeholder="Your UCLA Logon Password" aria-required="true" pattern="[a-zA-Z0-9 !@#$%^&*().,]{8,128}"  title="Passwords are at least 8 characters long and can consist of letters, numbers, and the following symbols: !@#$%^&*().," tabindex="2" autocorrect="off" autocapitalize="none" required>
		<span class="form-error">Passwords are at least 8 characters long and can consist of letters, numbers, and the following symbols: !@#$%^&*().,</span>
		</label>
	</fieldset>

	<button class="primary-button" type="submit" name="sso-submit" tabindex="3">Sign In</button>
	
	<ul class="sso-links">
		<li>Forgot your <a href="https://logon.ucla.edu/userlookup.php" title="Lookup your UCLA Logon ID">UCLA Logon ID</a> or <a href="https://logon.ucla.edu/passreset.php" title="Reset your password">Password</a>?</li>
		<li><a href="https://logon.ucla.edu/activate.php" title="Create a UCLA Logon ID">Need a UCLA Logon ID?</a></li>
	</ul>
	
</form>