<form id="sso" role="form" action="/" method="post" class="ws-validate">

	<img src="{{ site.baseurl }}/images/ucla-blue.png" alt="UCLA" class="logo">

  <legend>Sign In with your UCLA Logon ID</legend>

  <fieldset class="fieldset">
		<label for="logon">Your UCLA Logon ID</label>
		<input id="logon" name="logon" type="text" placeholder="Your UCLA Logon ID" aria-required="true" pattern="[a-z0-9]{3,15}" required autofocus title="Logon IDs must be 3 to 15 characters long, consisting of only numbers and lowercase english letters">
  </fieldset>

  <fieldset class="fieldset">
		<label for="pass">Your UCLA Logon Password</label>
		<input id="pass" name="pass" type="password" placeholder="Your UCLA Logon Password" aria-required="true" pattern="[a-zA-Z0-9 !@#$%^&*().,]{8,128}" required title="Passwords must be at least 8 characters long, and can be letters, numbers, or the following: !@#$%^&*().,">
	</fieldset>

	<button class="primary-button" type="submit" name="sso-submit">Sign In</button>

	<ul class="sso-links">
		<li>Forgot your <a href="https://logon.ucla.edu/userlookup.php" title="Lookup your UCLA Logon ID">UCLA Logon ID</a> or <a href="https://logon.ucla.edu/passreset.php" title="Reset your password">Password</a>?</a></li>
		<li><a href="https://logon.ucla.edu/activate.php" title="Create a UCLA Logon ID">Need a UCLA Logon ID?</a></li>
	</ul>

</form>
