<div class="form-container">
	<form id="sso" role="form">
		
		<fieldset class="login-form">
			<legend>Sign In with your UCLA Logon ID</legend>
			<ol>
				<li>
					<label for="logon">Account ID</label>
					<input id="logon" name="logon" type="text" placeholder="Your UCLA Logon ID" aria-required="true" required autofocus>
				</li>
				<li>
					<label for="pass">Password</label>
					<input id="pass" name="pass" type="text" placeholder="Your UCLA Logon Password" aria-required="true" required>
				</li>
			</ol>
		</fieldset>
		
		<fieldset class="sso-submit">
			<button class="primary-button" type="submit" name="sso">Sign In</button>
		</fieldset>
		
		<p class="sso-help"><a href="#">Get help with your account or password.</a></p>
		
	</form>
	
	<aside class="sp-news">
		<h3>Common Collaboration & Learning Environment</h3>
		
		<p>You can use <a href="https://ccle.ucla.edu/login/ucla_login.php?loginguest=1">Guest Access</a> to visit publicly viewable sites or a <a href="https://ccle.ucla.edu/login/ucla_login.php">Special Case Login</a> if you have been assigned a special case ID.</p>
		
		 <p>If you're getting an error after a successful login your Logon ID might <a href="http://kb.ucla.edu/articles/moodle-needs-certain-shibboleth-attributes">not be working properly.</a></p>
	</aside>
</div>