<form id="sso" role="form" action="/" method="post">
	
	<img src="{{ site.baseurl }}/images/ucla-blue.png" alt="UCLA" class="logo">
	
	<fieldset class="login-form">
		<legend>Sign In with your UCLA Logon ID</legend>
		
		<div class="error-box">
			<h2>Your ID and/or password were incorrect.</h2>
			
			<p>Make sure you're signing in with the right account ID, and carefully retype your password. If you still have problems, try <a href="#">resetting your password or looking up your Logon ID</a>.</p>
		</div>
		
		<label for="logon">Account ID</label>
		<input id="logon" name="logon" type="text" placeholder="Your UCLA Logon ID" aria-required="true" pattern=".{3,15}" required autofocus data-errormessage="Logon IDs must be between 3 and 15 characters long" >

		<label for="pass">Password</label>
		<input id="pass" name="pass" type="password" placeholder="Your UCLA Logon Password" aria-required="true" pattern=".{8,128}" required data-errormessage="Passwords must be at least 8 characters long">
	</fieldset>
	
	<fieldset class="sso-submit">
		<button class="primary-button" type="submit" name="sso">Sign In</button>
	</fieldset>
	
	<ul class="sso-links">
		<li><a href="#">Forgot your UCLA Logon ID or Password?</a></li>
		<li><a href="#">Need a UCLA Logon ID?</a></li>
	</ul>
	
</form>