html {
  background: $html-background;
  background-size: cover;
  position: relative; 
  min-height: 100%;
  width: 100%;
}

body {
  background: none !important;
  font-family: $ucla-font-stack;
}

section[role="main"] {
  margin-bottom: $global-margin * 8;
}

article, #sso, .sp-support, .ucla-iam-footer-content, .breaking-news {
	width: 96%;
	margin: $global-margin auto 0;
	@include breakpoint(multi-column) {
		width: 34rem;
	}
}

.wide {
	@include breakpoint(multi-column) {
		width: 42rem;
	}
}

.ucla-iam-footer-content {
  margin-top: 0;
  padding-left: $global-padding * 2.5;
}

.right {
	float: right;
}

.secondary-login {
  @include grid-row();
  @include clearfix();
}

.row {
  @include grid-row();
}

.sso-submit {
	width: 100%;
	@include breakpoint(multi-column) {
		@include grid-column(3);
		margin: 0;
	}
}

.sso-links {
	width: 100%;
	@include breakpoint(multi-column) {
		width: 75%;
		float: right;
		margin: 0;
	}
}

.line-thru {
  @include line-thru();
}