.login-form {
	padding-bottom: 0;
}

#sso {
	background: $white;
	overflow: hidden;
	border-radius: $global-radius;
	padding: 2.5% 7.5%;
	@include breakpoint(multi-column) {
		padding: $global-padding ($global-padding * 2.5);
	}
  @include grid-row();
	fieldset {
		border: none;
	}
}

#sso .error-box {
	width: 100%;
	@include breakpoint(large-type) {
		width: 26rem;
	}
	h2 {
		font-size: rem-calc(nested-map-get($header-sizes, large-type, h3));
	}
	margin-bottom: $global-spacing;
}

// login failed message in login form
.login-fail {
  padding-top: 0;
  h3 {
    margin: 0;
  }
}

.sso-links {
	margin-bottom: $global-spacing;
	padding-left: $global-padding / 2;
	font-size: $helptext-font-size;
}

.line-thru {
  @include line-thru();
}

.secondary-login {
  margin-top: -$global-spacing;
  p {
    font-size: $helptext-font-size;
    margin: 0 auto;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}