html {
  background: $html-background;
  background-size: cover;
  position: relative; 
  min-height: 100%;
  width: 100%;
}

body {
  background: none !important;
  font-family: $ucla-font-stack;
}

section[role="main"] {
  margin-bottom: $global-margin * 8;
}

article, #sso, .sp-support, .ucla-iam-footer-content, .breaking-news {
	width: 96%;
	margin: $global-margin auto 0;
	@include breakpoint(grid-elastic) {
		width: 36rem;
	}
}
.ucla-iam-footer-content {
  margin-top: 0;
}

.right {
	float: right;
}

.wide {
  @include breakpoint(grid-elastic) {
    width: 42rem;
  }
}