.login-form {
	padding-bottom: 0;
}

#sso {
	background: $white;
	overflow: hidden;
	border-radius: $global-radius;
	padding: 2.5% 7.5%;
	@include breakpoint(grid-elastic) {
		padding: ($global-spacing * 2) ($global-spacing * 4);
	}
	label {
		display: none;
	}
	fieldset {
		border: none;
	}
}

#sso .error-box {
	width: 100%;
	@include breakpoint(grid-liquid) {
		width: 26em;
	}
	h2 {
		font-size: rem-calc(nested-map-get($header-sizes, large-type, h3));
	}
	margin-bottom: $global-spacing;
}

.input[type="submit"] {
	width: 100%;
	@include breakpoint(grid-liquid) {
		@include grid-row(3);
	}
	padding-top: 0;
}

.sso-links {
	width: 100%;
	margin-bottom: $global-spacing;
	@include breakpoint(grid-liquid) {
		@include grid-row(9);
		margin: 0;
	}
	font-size: $helptext-font-size;
}

.primary-button {
	background-color: $primary-color;
	color: #fff;
	font-size: rem-calc(nested-map-get($header-sizes, large-type, h4));
	&:hover, &:focus {
		background-color: $secondary-color;
		color: $primary-color-alternate;
	}
}

.secondary-login {
  margin-top: $global-spacing;
  p {
    font-size: $helptext-font-size;
    margin: 0 auto;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}