@font-face {
	font-family: 'ProximaNova';src: url('../fonts/ProximaNova-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

/*
@font-face {
	font-family: 'Proxima Nova';src: url('../fonts/ProximaNova-Semibold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
*/
