// UCLA image
.logo {
	display: block;
	width: 100%;
	background: rgba($black, .75);
	border-bottom: 1px solid $ucla-blue-light;
	@include breakpoint(grid-liquid) {
    background: none;
    border-bottom: none;
	}
	img {
  	display: block;
  	width: 35%;
  	@include breakpoint(grid-liquid) {
    	width: 22rem;
      margin: ($global-margin / 2) auto 0;
  	}
  	@include breakpoint(grid-elastic) {
    	width: 26rem;
    	margin: $global-spacing auto 0;
    }
	}
}

// environmental/contextual info for error pages
.ticket-info {
  background: $lighter-gray;
  border-radius: $global-radius;
  font-size: $helptext-font-size;
  font-family: $font-family-monospace;
  padding: $global-padding / 2;
}

// SP contact info, etc
.sp-support {
	background: $sp-support-bg;
	padding: 2.5% 7.5%;
	@include breakpoint(grid-elastic) {
		padding: $global-padding ($global-padding * 2.5);
	}
	margin: $global-margin auto 0;
	border-radius: $global-radius;
	p, li {
		font-size: $helptext-font-size;
	}
	h2 {
		font-size: rem-calc(nested-map-get($header-sizes, large-type, h4));
		margin: 0;
	}
}

// generally used for non-form message blocks
article {
	position: relative;
	background: $white;
	padding: $global-padding ($global-padding * 2);
	border-radius: $global-radius;
	legend {
		display: none;
	}
}

// spinner for the redirect
#loading-spinner {
  height: $global-spacing * 6;
}

.ucla-iam-footer-content p {
  margin-bottom: 0;
}