section[role="main"] {
	margin: $double-spacing auto $quad-spacing * 2;
	@include breakpoint($grid-liquid) {
		margin: 14.5% auto;
	}
}

article, #sso, .sp-support, .tertiary-links-wrapper {
	width: 94%;
	margin: 0 auto;
	@include breakpoint($grid-elastic) {
		width: 34.5em;
	}
}

.tertiary-links {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $quad-spacing;
	@include breakpoint($grid-liquid) {
		height: $double-spacing;
	}
	a, span {
		display: block;
		width: 100%;
		@include breakpoint($grid-liquid) {
			display: inline;
			width: auto;
		}
	}
}

.right {
	float: right;
}