%error-base {
  color: $error-color;
	h2, h3, p {
		color: $error-color;
	}
	p {
		font-size: $meta-font-size;
	}
	padding: $half-spacing;
	border-radius: $global-border-radius;
	text-align: center;
	margin-top: 0;
}

.error-box {
	background: repeating-linear-gradient(45deg, $error-color-dark, $error-color-dark $half-spacing, $error-color-dark-alt $half-spacing, $error-color-dark-alt $default-spacing);
	@extend %error-base;
}

.error-box-solid {
	background: $error-color-dark;
	@extend %error-base;
}

.error-box-lite {
  border: 1px solid $error-color;
  @extend %error-base;
}

.error-title {
  color: $error-color;
}

.meta {
	font-size: $meta-font-size;
}

.center {
	text-align: center;
}

.ucla-iam-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $quad-spacing;
	background: rgba($black, .75);
	border-top: 1px solid $ucla-blue-light;
	padding: $half-spacing;
	color: lighten($body-text-color, 40%);
	@include breakpoint($grid-liquid) {
		height: $double-spacing;
	}
	a, span {
		display: block;
		width: 100%;
		@include breakpoint($grid-liquid) {
			display: inline;
			width: auto;
		}
	}
}

.ucla-iam-footer-content {
	p {
		margin: 0 auto;
		font-size: $meta-font-size;
	}
	a {
		text-decoration: none;
		color: $footer-link-color;
		&:visited { 
			color: $footer-link-color;
		}
		&:hover, &:focus {
			color: $footer-link-color-hover;
			text-decoration: underline;
		} 
	}
}

