/////////////////////////////////////////
///        TOP OF PAGE BANNER
/////////////////////////////////////////

%location-banner-base {
  height: $double-spacing;
  line-height: $double-spacing;
  width: 100%;
  color: $black;
  text-align: center;
  @include box-shadow($ucla-grey 1px 1px 5px);
}

.location-banner-dev {
  @extend %location-banner-base;
  background: $ucla-yellow;
  border-bottom: 1px solid darken($ucla-yellow, 20%);
}

.location-banner-qa {
  @extend %location-banner-base;
  background: $ucla-orange;
  border-bottom: 1px solid darken($ucla-orange, 20%);
}

/////////////////////////////////////////
///             MESSAGES
/////////////////////////////////////////

.breaking-news {
  h1 {
    color: $ucla-blue-dark;
    text-shadow: 1px 1px 0px $white;
    font-style: italic;
  }
  position: relative;
  background: $ucla-yellow;
	box-shadow: 0 1px 1px #347bad;
	border-radius: $global-border-radius;
	padding: 0 7.5% 2.5% ;
	@include breakpoint($grid-elastic) {
		padding: 0 $default-spacing;
	}
	margin-bottom: $triple-spacing;
}