// https://afarkas.github.io/webshim/demos/demos/forms.html#UI-ival
// options in sso.js

.ws-errorbox {
  width: 100%;
  margin-top: -$half-spacing;
  @extend .error-box;
  p {
    text-align: left;
  }
}

.ws-errormessage {
  
}

.ws-invalid {
  
}

.ws-success {
  
}

// override polyfilled date input

input.ws-date {
  width: 100% !important;
}

.date-input-buttons {
  margin-bottom: $p-font-size;
}