// https://afarkas.github.io/webshim/demos/demos/forms.html#UI-ival
// options in sso.js

.ws-errorbox {
  margin-top: -$default-spacing;
  margin-bottom: $default-spacing;
  p {
    font-family: $font-stack;
    color: $error-color;
    text-align: left;
  }
}

.ws-errormessage {
  
}

.ws-invalid {
  
}

.ws-success {
  
}

// override polyfilled date input

input.ws-date {
  width: 100% !important;
}

.date-input-buttons {
  margin-bottom: $p-font-size;
}