/////////////////////////////////////////
///        NOTIFICATION BADGE
/////////////////////////////////////////

//container
.badged {
  position: relative;
}

//element w/ badge
.badge:after{
  content:attr(data-count);
  position: absolute;
  background: $ucla-pink;
  height: $double-spacing;
  top: -$half-spacing;
  right: -$default-spacing;
  width: $double-spacing;
  text-align: center;
  line-height: $double-spacing;
  font-size: $default-spacing;
  border-radius: 50%;
  color: $white;
  border: 1px solid $ucla-pink;
}

/////////////////////////////////////////
///        ICON CONTAINER BADGE
/////////////////////////////////////////


@mixin badge($background: $error-color, $color: $error-color-dark, $base-size: 2.5em) {
	position: absolute;
	bottom: -$triple-spacing * 1.5;
	right: $double-spacing;
	width: $base-size * 2.5;
	height: $base-size * 2;
	background: $background;
	@include breakpoint($grid-liquid) {
		top: -$triple-spacing;
		right: -$double-spacing;
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: -($base-size / 2);
		width: 0;
		height: 0;
		border-top: $base-size solid transparent;
		border-right: ($base-size / 2) solid $background;
		border-bottom: $base-size solid transparent;
	}
	&:after {
		content: "";
		position: absolute;
		right: -($base-size / 2);
		width: 0;
		height: 0;
		border-top: $base-size solid transparent;
		border-left: ($base-size / 2) solid $background;
		border-bottom: $base-size solid transparent;
	}
	i {
		font-size: $base-size * 1.7;
		color: $color;
		line-height: $base-size / 2;
		padding-left: $base-size / 10.5;
	}
}

/////////////////////////////////////////
///           --- OR ---
/////////////////////////////////////////

.line-thru {
  display: block;
  margin: 1rem 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
  &:before {
    width: 40px;
    height: 10px;
    background-color: #fff;
    content: '';
    margin: -5px 0 0 -20px;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: -1;
  }
  &:after {
    border-bottom: 1px solid $background-light-grey;
    content: '';
    display: block;
    position: absolute;
    top: 49%;
    width: 100%;
    z-index: -2;
  }
}

/////////////////////////////////////////
///                MISC
/////////////////////////////////////////

%ucla-box-shadow {
  box-shadow: 0 1px 1px #347bad;
}

.fail {
  background: $ucla-pink;
  color: $black;
  border-radius: $global-border-radius;
  padding: $half-spacing;
}

.success {
  background: $ucla-green;
  color: $black;
  border-radius: $global-border-radius;
  padding: $half-spacing;
}
