@mixin badge($background: $alert-bg-color, $color: $alert-color, $base-size: 2.5em) {
	position: absolute;
	bottom: -$quad-spacing;
	right: 35%;
	width: $base-size * 2.5;
	height: $base-size * 2;
	background: $background;
	@include breakpoint($past-mobile) {
		top: -$default-spacing;
		right: -$quad-spacing;
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: -($base-size / 2);
		width: 0;
		height: 0;
		border-top: $base-size solid transparent;
		border-right: ($base-size / 2) solid $background;
		border-bottom: $base-size solid transparent;
	}
	&:after {
		content: "";
		position: absolute;
		right: -($base-size / 2);
		width: 0;
		height: 0;
		border-top: $base-size solid transparent;
		border-left: ($base-size / 2) solid $background;
		border-bottom: $base-size solid transparent;
	}
	i {
		font-size: $base-size * 1.7;
		color: $color;
		line-height: $base-size / 2;
		padding-left: $base-size / 9;
	}
}