/////////////////////////////////////////
///				GLOBAL/ELEMENTISH
/////////////////////////////////////////

html {
	background: #d1e8f8 url('../images/background.jpg');
	box-sizing: border-box;
	position: relative; 
	min-height: 100%;
	width: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0 auto;
	color: $body-text-color;
	font-family: $font-stack;
}

h1, h2, h3, h4 {
	font-weight: normal;
	color: $primary-color;	
}

h1 {
	font-size: $h1-font-size;
}

div h1, article h1 {
		margin: 0;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

p {
	line-height: $base-line-height;
}

a {
	color: $anchor-font-color;
	text-decoration: underline;
	@include transition-property(color);
	@include transition-duration(.15s);
	&:visited { 
		color: $anchor-font-color;
	}
	&:hover, &:focus {
		text-decoration: underline;
		color: $anchor-font-color-hover;
		outline: 0;
	} 
	&:focus {
		outline: thin dotted;
	}
	&:active {
		outline: 0;
	}
}

section[role="main"] ul {
	list-style: none;
	padding-left: 1.5em;
	li {
		margin-bottom: .5em;
	}
	li:before {
		color: $bullet-color;
		content: "•";
		position: relative;
		font-size: 1.2em;
		left: -.25em;
	}
}

/////////////////////////////////////////
///          CLASSES/ROLES
/////////////////////////////////////////

header[role="banner"] {
	height: 130px;
	background: url('../images/header-bg.jpg');
	h1 {
		margin: 0 auto;
		max-width: 960px;
	}
	img {
		width: 40%;
	}
}

section[role="main"] {
	margin-bottom: $double-spacing * 2;
}

footer[role="contentinfo"] {
	position: absolute;
	bottom: 0;
	height: 2em;
	width: 100%;
	background: $primary-color-alternate-state url('../images/footer-bg.jpg');
	border-top: 1px solid darken($primary-color-alternate-state, 20%);
	padding: $half-spacing;
	color: lighten($body-text-color, 40%);
	p {
		max-width: 960px;
		margin: 0 auto;
		font-size: $meta-font-size;
	}
	a {
		text-decoration: none;
		color: $footer-link-color;
		&:visited { 
			color: $footer-link-color;
		}
		&:hover, &:focus {
			color: $footer-link-color-hover;
			text-decoration: underline;
		} 
	}
}

article {
	background: $body-background-color;
	box-shadow: 0 1px 1px #347bad;
	padding: 1em;
}

#sso {
	overflow: hidden;
	background: $body-background-color;
	box-shadow: 0 1px 1px #347bad;
	padding: 1em;
	max-width: 920px;
	margin: -20px auto 0;
	label {
		display: none;
	}
	fieldset {
		border: none;
	}
	ol {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
}

#report {
	overflow: hidden;
	label {
		display: block;
		margin-bottom: $half-spacing / 2;
	}
	ol {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
}

.sso-submit {
	@include grid-span(4, 1);
	@include breakpoint($past-mobile) {
		@include grid-span(1, 1);
	}
	padding-top: 0;
}

.sso-links {
	@include grid-span(4, 1);
	@include breakpoint($past-mobile) {
		@include grid-span(1, 2);
	}
	@include clearfix;
	font-size: $meta-font-size;
	margin: 0;
	li {
		margin-bottom: 0;
	}
}

.sp-news {
	background: rgba($neutral, .2);
	padding: $half-spacing;
	margin-top: $double-spacing;
	@include border-radius($global-border-radius);
	max-width: 960px;
	margin: 0 auto;
	p {
		font-size: $meta-font-size;
	}
	h3 {
		margin-top: 0;
	}
}

.loading i {
	font-size: $h1-font-size * 2;
	margin: $default-spacing 45%;
}

.error {
	background: repeating-linear-gradient(45deg, $error-bg-color, $error-bg-color $half-spacing, $error-bg-color-alt $half-spacing, $error-bg-color-alt $default-spacing);
	color: $error-color;
	padding: $default-spacing;
	margin-bottom: $default-spacing;
	@include border-radius($global-border-radius);
	h1 {
		color: $error-color;
	}
	a:hover {
		color: $white;
	}
}

.alert {
	background: $warning-bg-color;
	color: $warning-color;
	padding: $default-spacing;
	margin-bottom: $default-spacing;
	@include border-radius($global-border-radius);
	h1 {
		color: $warning-color;
		margin: 0;
	}
}