/////////////////////////////////////////
///				GLOBAL/ELEMENTISH
/////////////////////////////////////////

html {
	background: $html-background;
  background-size: cover;
	box-sizing: border-box;
	position: relative; 
	min-height: 100%;
	width: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: $body-text-color;
	font-family: $font-stack;
	letter-spacing: $global-letter-spacing;
}

h1, h2, h3, h4 {
	font-weight: normal;
	color: $primary-color;	
}

h1 {
	font-size: $h1-font-size;
	line-height: $base-line-height * 1.1;
}

div h1, article h1 {
		margin: 0;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

p {
	line-height: $base-line-height;
}

a {
	color: $anchor-font-color;
	text-decoration: underline;
	@include transition-property(color);
	@include transition-duration(.15s);
	&:visited { 
		color: $anchor-font-color;
	}
	&:hover, &:focus {
		text-decoration: underline;
		color: $anchor-font-color-hover;
		outline: 0;
	} 
	&:focus {
		outline: thin dotted;
	}
	&:active {
		outline: 0;
	}
}

section[role="main"] ul {
	list-style: none;
	padding-left: .25em;
	margin-bottom: 0;
	li {
		margin-bottom: .5em;
	}
	li:before {
		color: $bullet-color;
		content: "•";
		position: relative;
		font-size: 1.2em;
		left: -.25em;
	}
}

/////////////////////////////////////////
///             LAYOUT
/////////////////////////////////////////

section[role="main"] {
	margin: $default-spacing auto $page-spacing;
	@include breakpoint($past-mobile) {
		margin: $page-spacing auto $triple-spacing;
	}
}

article, #sso, .secondary-button, .sp-support, .tertiary-links-wrapper {
	width: 94%;
	margin: 0 auto;
	@include breakpoint($elastic) {
		width: 36em;
	}
}

.tertiary-links {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $quad-spacing;
	@include breakpoint($past-mobile) {
		height: $double-spacing;
	}
	a, span {
		@include breakpoint($mobile) {
			width: 100%;
			display: block;
		}
	}
}

.right {
	float: right;
}

/////////////////////////////////////////
///          CLASSES/ROLES
/////////////////////////////////////////

.logo {
	display: block;
	margin: 0 auto;
	width: 100%;
	@include breakpoint($past-mobile) {
		width: 70%;
	}
}

#sso {
	background: $body-background-color;
	box-shadow: 0 1px 1px #347bad;
	padding: 1em;
	@include breakpoint($past-mobile) {
		padding: 0 4em 1em;
	}
	overflow: hidden;
	@include border-radius($global-border-radius);
	label {
		display: none;
	}
	fieldset {
		border: none;
	}
	ol {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
}

.sso-submit {
	@include grid-span(4, 1);
	@include breakpoint($past-mobile) {
		@include grid-span(1, 1);
	}
	padding-top: 0;
}

.sso-links {
	@include grid-span(4, 1);
	@include breakpoint($past-mobile) {
		@include grid-span(3, 2);
	}
	@include clearfix;
	font-size: $meta-font-size;
	margin: .25em;
	li {
		margin-bottom: 0;
	}
}

.login-fail {
	background: repeating-linear-gradient(45deg, $error-bg-color, $error-bg-color $half-spacing, $error-bg-color-alt $half-spacing, $error-bg-color-alt $default-spacing);
	color: $uclapinkneon;
	padding: $half-spacing;
	@include border-radius($global-border-radius);
	width: 26.3em;
	text-align: center;
	margin-top: 0;
}

.sp-support {
	background: rgba($neutral, .25);
	padding: $default-spacing;
	margin: $default-spacing auto 0;
	@include border-radius($global-border-radius);
	p, li {
		font-size: $meta-font-size;
	}
	h2 {
		font-size: $h4-font-size;
		margin-top: 0;
	}
	h3 {
		font-size: $p-font-size;
		margin-top: 0;
	}
}

article {
	position: relative;
	background: $body-background-color;
	box-shadow: 0 1px 1px #347bad;
	padding: 1em;
	min-height: 12em;
	@include border-radius($global-border-radius);
}

.badge-alert {
	@include badge();
}

.badge-error {
	@include badge($error-bg-color, $error-color);
}

#report {
	overflow: hidden;
	label {
		display: block;
		margin-bottom: $half-spacing / 2;
	}
	ol {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
}

.loading i {
	margin: $default-spacing auto 0;
	font-size: $h1-font-size * 2;
	margin: $default-spacing 45%;
}

.tertiary-links {
	background: rgba($black, .75);
	border-top: 1px solid $primary-color-alternate-state;
	padding: $half-spacing;
	color: lighten($body-text-color, 40%);
}

.tertiary-links-wrapper {
	p {
		margin: 0 auto;
		font-size: $meta-font-size;
	}
	a {
		text-decoration: none;
		color: $footer-link-color;
		&:visited { 
			color: $footer-link-color;
		}
		&:hover, &:focus {
			color: $footer-link-color-hover;
			text-decoration: underline;
		} 
	}
}