/////////////////////////////////////////
///				GLOBAL/ELEMENTISH
/////////////////////////////////////////

html {
	background: #d1e8f8 url('../images/skyline.jpg') no-repeat;
  background-size: cover;
	box-sizing: border-box;
	position: relative; 
	min-height: 100%;
	width: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: $body-text-color;
	font-family: $font-stack;
	letter-spacing: $global-letter-spacing;
}

h1, h2, h3, h4 {
	font-weight: normal;
	color: $primary-color;	
}

h1 {
	font-size: $h1-font-size;
	line-height: $base-line-height * 1.1;
}

div h1, article h1 {
		margin: 0;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

p {
	line-height: $base-line-height;
}

a {
	color: $anchor-font-color;
	text-decoration: underline;
	@include transition-property(color);
	@include transition-duration(.15s);
	&:visited { 
		color: $anchor-font-color;
	}
	&:hover, &:focus {
		text-decoration: underline;
		color: $anchor-font-color-hover;
		outline: 0;
	} 
	&:focus {
		outline: thin dotted;
	}
	&:active {
		outline: 0;
	}
}

section[role="main"] ul {
	list-style: none;
	padding-left: 1.5em;
	li {
		margin-bottom: .5em;
	}
	li:before {
		color: $bullet-color;
		content: "•";
		position: relative;
		font-size: 1.2em;
		left: -.25em;
	}
}

/////////////////////////////////////////
///          CLASSES/ROLES
/////////////////////////////////////////

section[role="main"] {
	margin: $quad-spacing auto 3em;
	width: 42em; 
}

.logo {
  display: block;
  margin: 0 auto;
  width: 70%;
}

#sso {
	background: $body-background-color;
	box-shadow: 0 1px 1px #347bad;
	margin: $quad-spacing auto 0;
	width: 36em;
	padding: 0 4em 1em;
	overflow: hidden;
	@include border-radius($global-border-radius);
	label {
		display: none;
	}
	fieldset {
		border: none;
	}
	ol {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
}

#report {
	overflow: hidden;
	label {
		display: block;
		margin-bottom: $half-spacing / 2;
	}
	ol {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
}

.sso-submit {
	@include grid-span(4, 1);
	@include breakpoint($past-mobile) {
		@include grid-span(1, 1);
	}
	padding-top: 0;
}

.sso-links {
	@include grid-span(4, 1);
	@include breakpoint($past-mobile) {
		@include grid-span(3, 2);
	}
	@include clearfix;
	font-size: $meta-font-size;
	margin: 0;
	li {
		margin-bottom: 0;
	}
}

.sp-news {
	background: rgba($neutral, .15);
	padding: $half-spacing;
	width: 36em;
	margin: $default-spacing auto 0;
	@include border-radius($global-border-radius);
	p {
		font-size: $meta-font-size;
	}
	h3 {
		font-size: $p-font-size;
		margin-top: 0;
	}
}

.error ~ #sso, .alert ~ #sso, .error ~ article, .alert ~ article {
	margin-top: -$default-spacing;
}

.error {
	width: 40em;
	background: repeating-linear-gradient(45deg, $error-bg-color, $error-bg-color $half-spacing, $error-bg-color-alt $half-spacing, $error-bg-color-alt $default-spacing);
	color: $error-color;
	padding: $default-spacing;
	margin-right: 2em;
	@include border-radius($global-border-radius);
	h1 {
		color: $error-color;
		padding-bottom: $default-spacing;
	}
}

.alert {
	width: 40em;
	background: $warning-bg-color;
	color: $warning-color;
	padding: $default-spacing;
	margin-right: 2em;
	@include border-radius($global-border-radius);
	h1 {
		color: $warning-color;
	}
}

article {
	background: $body-background-color;
	box-shadow: 0 1px 1px #347bad;
	margin: 0 auto;
	width: 36em;
	padding: 1em;
}

.loading i {
	margin: $default-spacing auto 0;
	font-size: $h1-font-size * 2;
	margin: $default-spacing 45%;
}

footer[role="contentinfo"] {
	position: absolute;
	bottom: 0;
	height: 2em;
	width: 100%;
	background: rgba($black, .75);
	border-top: 1px solid $primary-color-alternate-state;
	padding: $half-spacing;
	color: lighten($body-text-color, 40%);
	p {
		width: 48em;
		margin: 0 auto;
		font-size: $meta-font-size;
	}
	a {
		text-decoration: none;
		color: $footer-link-color;
		&:visited { 
			color: $footer-link-color;
		}
		&:hover, &:focus {
			color: $footer-link-color-hover;
			text-decoration: underline;
		} 
	}
}

.non-human {
	float: right;
}