/////////////////////////////////////////
///             LAYOUT
/////////////////////////////////////////

// typical viewport breakpoints
$mobile-only: 1px 320px;
$past-mobile: 321px;
$before-tablet: 1px 768px;
$mobile-to-tablet: 321px 768px;
$past-tablet: 769px;
$tablet-to-laptop: 769px 1024px;
$wide: 1025px;

// content specific breakpoints

// singularity.gs layout
@include add-grid(4);
@include add-gutter(1/10);
@include sgs-change('output', 'float');

/////////////////////////////////////////
///            COLOURS
/////////////////////////////////////////

// Primary UCLA Colours

$uclablue: #3399cc;
$uclasafeblue: #347bad;
$uclagold: #ffe800;

// Secondary UCLA Colours

$ucladarkblue: #0055a6;
$uclalightblue: #00a5e5;

// Tertiary UCLA Colours

$uclayellowneon: #ffff00;
$uclagreenneon: #00ff87;
$uclapinkneon: #ff00a5;
$uclaliteblueneon: #00ffff;
$uclapurpleneon: #8237ff;
$uclagrey: #666;

// SSO Colours

$error: darken($uclapinkneon, 30%);
$neutral: #ccc;
$white: #fff;

/////////////////////////////////////////
///       TYPOGRAPHY / RHYTHM
/////////////////////////////////////////

$body-text-color: #666;
$body-background-color: $white;

$font-stack: ProximaNova, Verdana, sans-serif;

$anchor-font-color: $uclapurpleneon;
$anchor-font-color-hover: #1e4b87;

// prepare for media queries to shift base font and have that inherited down em chain
body {
	font-size: 100%;
}

$h1-font-size: 2em;
$h2-font-size: 1.5em;
$h3-font-size: 1.25em;
$h4-font-size: 1.125em;

$p-font-size: 1em;
$meta-font-size: .75em;

$base-line-height: 1.375em;

$half-spacing: .5em;
$default-spacing: 1em;
$double-spacing: 2em;

$global-border-radius: 3px;

/////////////////////////////////////////
///           FONT FACE
/////////////////////////////////////////

@font-face {
	font-family: '../fonts/ProximaNova';src: url('../fonts/ProximaNova-Light.eot');src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-Light.woff') format('woff'),url('../fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: '../fonts/ProximaNova';src: url('../fonts/ProximaNova-Regular.eot');src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-Regular.woff') format('woff'),url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
font-family: '../fonts/ProximaNova';src: url('../fonts/ProximaNova-Semibold.eot');src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-Semibold.woff') format('woff'),url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}