/////////////////////////////////////////
///       GLOBAL/ELEMENTISH
/////////////////////////////////////////

body {
	background: #E3E2FA url('/images/background.jpg');
}

a {
	color: $anchor-font-color;
	text-decoration: underline;
	@include transition-property(color);
	@include transition-duration(.15s);
	&:visited { 
		color: $anchor-font-color;
	}
	&:hover, &:focus {
		text-decoration: underline;
		color: $anchor-font-color-hover;
		outline: 0;
	} 
	&:focus {
		outline: thin dotted;
	}
	&:active {
		outline: 0;
	}
}

ul[role="main"] {
	list-style: none;
	li:before {
		color: $uclagreenneon;
		content: "•";
		position: relative;
		font-size: 1.2em;
		margin-left: -.5em;
	}
}

/////////////////////////////////////////
///          CLASSES/ROLES
/////////////////////////////////////////

header[role="banner"] {
	
}

footer[role="contentinfo"] {
	background: $ucladarkblue;
}