/////////////////////////////////////////
///             LAYOUT
/////////////////////////////////////////

// breakpoints
$grid-liquid: 34em;
$grid-elastic: 38em;

// singularity.gs layout
@include add-grid(4);
@include add-gutter(1/10);

/////////////////////////////////////////
///            COLOURS
/////////////////////////////////////////

// Primary UCLA Colours

$uclablue: #3399cc;
$uclasafeblue: #347bad;
$uclagold: #ffe800;

// Secondary UCLA Colours

$ucladarkblue: #0055a6;
$uclalightblue: #00a5e5;

// Tertiary UCLA Colours

$uclayellowneon: #ffff00;
$uclagreenneon: #00ff87;
$uclapinkneon: #ff00a5;
$uclaliteblueneon: #00ffff;
$uclapurpleneon: #8237ff;
$uclagrey: #666;

// Semantic Colours

$neutral: #ccc;
$white: #fff;
$black: #000;

$primary-color: $uclasafeblue;
$primary-color-alternate-state: $ucladarkblue;
$secondary-color: $uclagold;
$error-color: $uclapinkneon;
$error-color-dark: darken($uclapinkneon, 42%);
$error-color-dark-alt: darken($uclapinkneon, 46%);
$bullet-color: $uclagreenneon;
$footer-link-color: $white;
$footer-link-color-hover: $uclayellowneon;
$secondary-login-option-color: #526991;

/////////////////////////////////////////
///       TYPOGRAPHY / RHYTHM
/////////////////////////////////////////

$html-background: #d1e8f8 url('../images/skyline.jpg') no-repeat;

$body-text-color: #666;
$body-background-color: $white;

$font-stack: ProximaNova, Verdana, sans-serif;
$global-letter-spacing: 0.5px;

$anchor-font-color: $uclapurpleneon;
$anchor-font-color-hover: #1e4b87;

// prepare for media queries to shift base font and have that inherited down em chain
body {
	font-size: 100%;
}

$h1-font-size: 2em; 
$h2-font-size: 1.5em;
$h3-font-size: 1.25em;
$h4-font-size: 1.125em;

$p-font-size: 1em;
$meta-font-size: .75em;

$base-line-height: 1.375em;

$default-spacing: 1em;
$half-spacing: $default-spacing / 2;
$double-spacing: $default-spacing * 2;
$triple-spacing: $default-spacing * 3;
$quad-spacing: $default-spacing * 4;
$page-spacing: $default-spacing * 6;

$global-border-radius: 3px;

/////////////////////////////////////////
///           FONT FACE
/////////////////////////////////////////

@font-face {
	font-family: '../fonts/ProximaNova';src: url('../fonts/ProximaNova-Regular.eot');src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-Regular.woff') format('woff'),url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}