/////////////////////////////////////////
///				GLOBAL/ELEMENTISH
/////////////////////////////////////////

html {
	background: #d1e8f8 url('../images/background.jpg');
	box-sizing: border-box;
	position: relative; 
	min-height: 100%;
	width: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	max-width: 36em;
	margin: 0 auto;
	color: $body-text-color;
	font-family: $font-stack;
}

h1, h2, h3, h4 {
	font-weight: normal;
	color: $uclasafeblue;	
}

p {
	line-height: $base-line-height;
}

a {
	color: $anchor-font-color;
	text-decoration: underline;
	@include transition-property(color);
	@include transition-duration(.15s);
	&:visited { 
		color: $anchor-font-color;
	}
	&:hover, &:focus {
		text-decoration: underline;
		color: $anchor-font-color-hover;
		outline: 0;
	} 
	&:focus {
		outline: thin dotted;
	}
	&:active {
		outline: 0;
	}
}

section[role="main"] ul {
	list-style: none;
	padding-left: 1.5em;
	li {
		margin-bottom: .5em;
	}
	li:before {
		color: $uclagreenneon;
		content: "•";
		position: relative;
		font-size: 1.2em;
		left: -.25em;
	}
}

/////////////////////////////////////////
///							FORMS
/////////////////////////////////////////

input {
	width: 20em;
	font-size: $h4-font-size;
	margin-bottom: $default-spacing;
	@include border-radius($global-border-radius);
}

select, input {
	padding: 0.5em 0.6em;
	display: inline-block;
	border: 1px solid $neutral;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: $global-border-radius;
}

select:focus {
	outline: 0;
	outline: thin dotted \9; /* IE6-9 */
	border-color: $uclalightblue;
}

select[disabled] {
	cursor: not-allowed;
	background-color: #eaeded;
	color: #cad2d3;
}

input:focus:invalid,
select:focus:invalid {
	color: #b94a48;
	border-color: #ee5f5b;
}

input:focus:invalid:focus,
select:focus:invalid:focus {
	border-color: #e9322d;
}

select {
	border: 1px solid $neutral;
	background-color: $white;
}

fieldset {
	margin: 0;
	padding: 0.5em 0;
	border: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0.25em 0;
	margin-bottom: 0.5em;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
	font-weight: normal;
	color: $uclasafeblue;
	font-size: $h2-font-size;
}

button, .button {
	display: inline-block;
	*display: inline; /*IE 6/7*/
	zoom: 1;
	line-height: normal;
	$white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: inherit;
	font-size: 100%;
	*font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
	*overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
	padding: 0.5em 1em;
	color: #444; /* rgba not supported (IE 8) */
	color: rgba(0, 0, 0, 0.80); /* rgba supported */
	*color: #444; /* IE 6 & 7 */
	border: 1px solid #999;  /*IE 6/7/8*/
	border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
	background-color: #E6E6E6;
	text-decoration: none;
	border-radius: $global-border-radius;
}

/* Firefox: Get rid of the inner focus border */
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button:focus {
	outline: 0;
}

button:active {
	box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

button[disabled] {
	border: none;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	filter: alpha(opacity=40);
	-khtml-opacity: 0.40;
	-moz-opacity: 0.40;
	opacity: 0.40;
	cursor: not-allowed;
	box-shadow: none;
}

button.primary {
	background-color: $uclasafeblue;
	color: #fff;
	font-size: $h4-font-size;
	&:hover {
		background-color: $uclagold;
		color: $ucladarkblue;
	}
}

.secondary-button {
	background-color: #526991;
	color: $white;
	margin-top: $default-spacing;
	width: 100%;
	&:hover {
		background-color: darken(#526991, 10%);
		color: $white;
	}
}

/////////////////////////////////////////
///          CLASSES/ROLES
/////////////////////////////////////////

header[role="banner"] {
	img {
		width: 40%;
		margin-top: .5em;
	}
}

section[role="main"] {
	margin-bottom: 1em;
}

footer[role="contentinfo"] {
	position: absolute;
	bottom: 0;
	height: 2em;
	width: 100%;
	max-width: 36em; 
	background: $ucladarkblue;
	border-top: 1px solid darken($ucladarkblue, 20%);
	padding: $half-spacing;
	color: lighten($body-text-color, 40%);
	p {
		margin: 0;
		font-size: $meta-font-size;
	}
	a {
		text-decoration: none;
		color: $body-background-color;
		&:visited { 
			color: $body-background-color;
		}
		&:hover, &:focus {
			color: $uclayellowneon;
			text-decoration: underline;
		} 
	}
}

.footer-meta-info {
	float: left;
}

.footer-non-human {
	float: right;
}

article {
	background: $body-background-color;
	box-shadow: 0 1px 1px #347bad;
	padding: 1em;
}

#sso {
	overflow: hidden;
	background: $body-background-color;
	box-shadow: 0 1px 1px #347bad;
	padding: 1em;
	label {
		display: none;
	}
	fieldset {
		border: none;
	}
	ol {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
}

.sso-submit {
	@include grid-span(4, 1);
	@include breakpoint($past-mobile) {
		@include grid-span(1, 1);
	}
	padding-top: 0;
}

.sso-links {
	@include grid-span(4, 1);
	@include breakpoint($past-mobile) {
		@include grid-span(3, 2);
	}
	@include clearfix;
	font-size: $meta-font-size;
	margin: 0;
	li {
		margin-bottom: 0;
	}
}

.sp-news {
	background: rgba($uclagrey, .1);
	padding: $half-spacing;
	margin-top: $double-spacing;
	@include border-radius($global-border-radius);
	p {
		font-size: $meta-font-size;
	}
	h3 {
		margin-top: 0;
	}
}