<form id="sso" role="form" action="/" method="post" data-abide novalidate>

  <legend>Sign In with Mednet ID</legend>

  <fieldset>
		<label for="logon"><span hidden>Your Mednet Account ID</span>
  		<input id="logon" name="logon" type="text" placeholder="Your Mednet Account ID" aria-required="true" pattern="[a-z0-9]{3,15}" title="Logon IDs are 3 to 15 characters long." tabindex="1" autocorrect="off" autocapitalize="none" required autofocus>
  		<span class="form-error">Logon IDs are 3 to 15 characters long.</span>
		</label>

		<label for="pass"><span hidden>Your Mednet Password</span>
		  <input id="pass" name="pass" type="password" placeholder="Your Mednet Password" aria-required="true" pattern="[a-zA-Z0-9 !@#$%^&*().,]{8,128}"  title="Passwords are at least 8 characters long and must have 3 of the following: Numbers (0-9), Lower Case Letters (a-z), Upper Case Letters (A-Z), and/or Special Characters." tabindex="2" autocorrect="off" autocapitalize="none" required>
		<span class="form-error">Passwords are at least 8 characters long and must have 3 of the following: Numbers (0-9), Lower Case Letters (a-z), Upper Case Letters (A-Z), and/or Special Characters.</span>
		</label>
	</fieldset>

  <button class="primary-button" type="submit" name="sso-submit">Sign In</button>

  <ul class="sso-links">
		<li>Forgot your Mednet ID <a href="http://www.mednet.ucla.edu/ChangeMyPassword.htm" title="Reset your password">Password</a>?</li>
	</ul>

  <aside class="secondary-login">
    <p class="line-thru">or</p>


    <p><a href="#">Sign In with your UCLA Logon ID</a></p>
  </aside>

</form>
