section[role="main"] {
  margin-bottom: $quad-spacing * 2;
}

article, #sso, .sp-support, .ucla-iam-footer-content, .breaking-news {
	width: 96%;
	margin: $default-spacing auto 0;
	@include breakpoint($grid-elastic) {
		width: 36em;
	}
}

.right {
	float: right;
}