.login-form {
	padding-bottom: 0;
}

#sso {
	background: $body-background-color;
	box-shadow: 0 1px 1px #347bad;
	overflow: hidden;
	border-radius: $global-border-radius;
	margin-top: $default-spacing;
	padding: 2.5% 7.5%;
	@include breakpoint($grid-elastic) {
		padding: $double-spacing $quad-spacing;
	}
	label {
		display: none;
	}
	fieldset {
		border: none;
	}
}

#sso .error-box {
	width: 100%;
	@include breakpoint($grid-liquid) {
		width: 26em;
	}
	h2 {
		font-size: $h3-font-size;
	}
	margin-bottom: $default-spacing;
}

.input[type="submit"] {
	width: 100%;
	@include breakpoint($grid-liquid) {
		@include grid-span(1, 1);
	}
	padding-top: 0;
}

.sso-links {
  li:before {
		content: "" !important;
  }
	width: 100%;
	margin-bottom: $default-spacing;
	@include breakpoint($grid-liquid) {
		@include grid-span(3, 2);
		margin: 0;
	}
	font-size: $meta-font-size;
}

.primary-button {
	background-color: $primary-color;
	color: #fff;
	font-size: $h4-font-size;
	&:hover, &:focus {
		background-color: $secondary-color;
		color: $primary-color-alternate-state;
	}
}

.secondary-login {
  margin-top: $default-spacing;
  p {
    @extend .meta;
    @extend .center;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}