.logo {
	display: block;
	background: rgba($black, .75);
	border-bottom: 1px solid $ucla-blue-light;
	width: 100%;
	padding: $half-spacing;
	margin-bottom: $double-spacing;
	@include breakpoint($grid-liquid) {
    padding: 0;
    background: none;
    border-bottom: none;
	}
	img {
  	display: block;
  	width: 35%;
  	@include breakpoint($grid-liquid) {
    	width: 22em;
      margin: $half-spacing auto;
  	}
  	@include breakpoint($grid-elastic) {
    	width: 26em;
    	margin: $default-spacing auto $half-spacing;
    }
	}
}

// login failed message in login form
.login-fail h3 {
  margin-top: 0; 
}

// SP contact info, etc
.sp-support {
	background: $sp-support-bg;
	padding: $default-spacing;
	margin: $default-spacing auto 0;
	border-radius: $global-border-radius;
	p, li {
		font-size: $meta-font-size;
	}
	h2 {
		font-size: $h4-font-size;
		margin: 0;
	}
}

// generally used for non-form message blocks
article {
	position: relative;
	background: $body-background-color;
	box-shadow: 0 1px 1px #347bad;
	padding: $default-spacing $double-spacing;
	border-radius: $global-border-radius;
	legend {
		display: none;
	}
}

// SP & IdP form styling
#report {
	overflow: hidden;
	label {
		display: block;
		margin-bottom: $half-spacing / 2;
	}
}

// spinner
.loading i {
	font-size: $h1-font-size * 2;
	margin: $default-spacing 40%;
	@include breakpoint($grid-liquid) {
		margin: $default-spacing 45%;
	}
}