.sp-support {
	background: $sp-support-bg;
	padding: $default-spacing;
	margin: $default-spacing auto 0;
	border-radius: $global-border-radius;
	p, li {
		font-size: $meta-font-size;
	}
	h2 {
		font-size: $h4-font-size;
		margin: 0;
	}
}

article {
	position: relative;
	background: $body-background-color;
	box-shadow: 0 1px 1px #347bad;
	padding: $default-spacing $double-spacing;
	border-radius: $global-border-radius;
	legend {
		display: none;
	}
}

.badge {
	@include badge();
}

.error-box {
	background: repeating-linear-gradient(45deg, $error-color-dark, $error-color-dark $half-spacing, $error-color-dark-alt $half-spacing, $error-color-dark-alt $default-spacing);
	color: $error-color;
	h2, h3, p {
		color: $error-color;
	}
	p {
		font-size: $meta-font-size;
	}
	padding: $half-spacing;
	border-radius: $global-border-radius;
	text-align: center;
	margin-top: 0;
}

#report {
	overflow: hidden;
	label {
		display: block;
		margin-bottom: $half-spacing / 2;
	}
}

.loading i {
	font-size: $h1-font-size * 2;
	margin: $default-spacing 40%;
	@include breakpoint($grid-liquid) {
		margin: $default-spacing 45%;
	}
}

.meta {
	font-size: $meta-font-size;
}

.center {
	text-align: center;
}

.tertiary-links {
	background: rgba($black, .75);
	border-top: 1px solid $ucla-blue-light;
	padding: $half-spacing;
	color: lighten($body-text-color, 40%);
}

.tertiary-links-wrapper {
	p {
		margin: 0 auto;
		font-size: $meta-font-size;
	}
	a {
		text-decoration: none;
		color: $footer-link-color;
		&:visited { 
			color: $footer-link-color;
		}
		&:hover, &:focus {
			color: $footer-link-color-hover;
			text-decoration: underline;
		} 
	}
}